{%extends 'blog/base.html'%}
{%load crispy_forms_tags %}
{%block content%}
     <div class="container">
          <div class="content-section">
               <div class="media">
                    <img  class="rounded-circle account-img" src="{{ teacher.profile.image.url  }}"alt="">
                    <div class="media-body">
                        <h1 class="account-heading">Teacher's username: <span class="text-warning">{{request.user.username}}</span></p></h1>
                        <p class="text-secondary"><strong>Full name:</strong> {{teacher.full_name}}</p>
                        <p class="text-secondary"><strong>Email :</strong> {{request.user.email}}</p>
                        <p class="text-secondary"><strong>Description <br></strong> {{teacher.tr_description}}</p>
                        <hr>
                         <fieldset class="form-group">
                            <div class="form-group"><legend class="border-bottom mb-4">Edit Profile</legend>
                               {{ form|crispy }}
                               <a href="{% url 'tr-profile-update' %}"><button class="btn btn-outline-info">Edit profile</button></a>
                            </div>
                         </fieldset>
                        <hr>
                        <h2 class="text-secondary">Students in {{teacher.class_teacher}}</h2>
                        {%for student in students%}
                            <li>
                              {{student.full_name}} <a href="{% url 'tr-student-profile-update' student.id %}">Adm No-{{student.student_id}}</a>
                            </li>
                        {%endfor%}
                    </div>
               </div>
          </div>
     </div>
{%endblock content%}
