{% extends 'blog/base.html' %}
{% block content %}
 <div class="container">
  <div class="content-section">
   <div class="col-md-8">
        <h2>Welcome to our academics page!</h2>
        <p>Explore the diverse range of programs and opportunities available at ABC School.</p>
        
        <h3>Programs</h3>
        <p>At ABC School, we offer a wide variety of undergraduate, graduate, and professional programs to suit your interests and career goals. Explore our programs:</p>
        <ul>
            <li><a href="#">Undergraduate Programs</a></li>
            <li><a href="#">Graduate Programs</a></li>
            <li><a href="#">Professional Programs</a></li>
        </ul>
        
        <h3>Departments</h3>
        <p>Our academic departments are dedicated to excellence in teaching, research, and service. Learn more about our departments:</p>
        <ul>
            <li><a href="#">Department of [Department Name]</a></li>
            <li><a href="#">Department of [Department Name]</a></li>
            <li><a href="#">Department of [Department Name]</a></li>
        </ul>
        
        <h3>Faculty</h3>
        <p>Our faculty members are experts in their fields and are committed to providing an exceptional learning experience for our students. Meet our faculty:</p>
        <ul>
            <li><a href="#">Dr. [Name], [Title]</a></li>
            <li><a href="#">Dr. [Name], [Title]</a></li>
            <li><a href="#">Dr. [Name], [Title]</a></li>
        </ul>
        
        <h3>Research</h3>
        <p>At [Your Institution Name], we value research and innovation. Explore our research centers and opportunities:</p>
        <ul>
            <li><a href="#">Center for [Research Area]</a></li>
            <li><a href="#">Institute for [Research Area]</a></li>
            <li><a href="#">Undergraduate Research Opportunities</a></li>
        </ul>
        
        <h3>Resources</h3>
        <p>We provide a range of resources to support your academic success, including libraries, laboratories, tutoring services, and more:</p>
        <ul>
            <li><a href="#">Library Services</a></li>
            <li><a href="#">Computer Labs</a></li>
            <li><a href="#">Tutoring and Academic Support</a></li>
        </ul>
        
        <a class="btn btn-primary" href="#">Apply Now</a>
    </div>
  </div>
 </div>
{% endblock content %}
