{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <div class="list-group">
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.get_profile_pic  }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <div class="">
              {% if post.image %}
                  <a href="{% url 'blog-detail' post.id %}"><img class="blog-image img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}"></a>
              {% endif %}
            </div>
            <h2><a class="article-title" href="{% url 'blog-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:20 }}</p>
            <div class="row">
                <div class="col-md-8">
                  <a href="https://www.instagram.com/muchiri_james_254/#"><i class="bi bi-instagram text-dark mx-2"></i></a>
                  <a href="https://web.facebook.com/profile.php?id=61558683462581"><i class="bi bi-facebook text-dark mx-2"></i></a>
                  <a href="#"><i class="bi bi-x text-dark mx-2"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-2"></i></a>
                  <a href="#"><i class="bi bi-youtube text-dark mx-2"></i></a>
                  <a href="https://wa.me/qr/RCU46OUN5B3HI1"><i class="bi bi-whatsapp text-dark mx-2"></i></a>
        </div>
    </article>
    {% endfor %}
    <a href="{% url 'blog-home' %}">Back to Homepage</a>
</div>
{% endblock %}

